<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Welcome burger lover's!</h1>
        <center>
            <img src="./public/assets/img/veggi burger.jpg" width="80%">
        </center>
    </div>
    <row>
        {{!-add burger with devour button --}}
        <div class="col-md-6">
            <h1 class="display-4">Burger Want to Eat!</h1>
            <center>
                <img src="./public/assets/img/chicken burger.jpg" width="80%">
            </center>


        </div>
        {{!-- add burger afetr devour --}}
        <div class="col-md-6">
            <h1 class="display-4">Burger Eaten!</h1>
            <center>
                <img src="./public/assets/img/bean burger.jpg" width="80%">
            </center>


        </div>

    </row>
    {{!-- making buger request --}}
    <form class="create-form">

        <div class="form-group">
            <label for="ca">Order Your Burger</label>
            <input type="text" id="ca" name="name">
        </div>

        <button type="submit">Place Order</button>
    </form>
</div>